* { box-sizing: border-box; }


body {background-color: grey;}



#scenario {
  width: 100%;
  height: 800px;
  background-image: url("images/BackgroundOrgrimmar.jpg");


  overflow-x: hidden;
  border: solid black;
  scroll-behavior: smooth;
  position: relative;
}

#Personaje {
  width: 1px;
}

#Enemigo {
  position: relative;
}

#enemy {
  position: relative;
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
  background-image: url("images/dehaka");
}


 Enemigo img{
   transform: scale(2)
 }

#player {
  /*background-image: url("images/Garrosh spray.png");*/
  position: absolute;
  bottom: 10;


}

#player img {
  transform: scale(0.7);
}

.bullet {
  background-image:url("images/Gorehowl.png");
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0.1);

}

.bulletinvert {
  background-image:url("images/Gorehowlinvert.png");
  position: absolute;
  width: 300px;
  top: 0;
  left: 250;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0.1);

}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    border: solid black;
    margin: 5px;
}

#titulo {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: red;
  text-align: center;
 }

 #mark {
  position: relative;
  grid-column:  2 / 4;
  grid-row: 2;
  z-index: 2;
}

#number {
  border: solid black;
  background-color: red;
  position: absolute;
  top: 0;
  left: 77%;
  right: 0;
  bottom: 0;
  margin: 2%;
  font-size: 6em;
  text-align: center;
  padding: 0 0;
  width: 20%;
  height: 120px;
  color: white;
}
